@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F2F4FF;
    color: #2C2828;
}

ul.slick-dots li button::before, .slick-dots li button::after{
    color: #F7A915;
}

ul.slick-dots li.slick-active button::before, .slick-dots li button::after{
    color: #F7A915;
}
